@import '../styles.scss';
.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh 95vh;
}
.bar {
    grid-area: 1/1/1/4;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #4c4c9a;

    button {
        @extend %buttonStrip;
        background-color: #404086;
        padding: 0 2vh;
        grid-area: 1/1;
        justify-self: end;
        color: white;
        background-color: .7;
        cursor: pointer;
        &:hover {
            opacity: .7;
        }
        
    }
    span {
        grid-area: 1/1;
        text-align: center;
        align-self: center;
        color: white;
        font-size: 1.2em;
        
    }
}
.column {
    background-color: rgb(243, 243, 243);
    display:grid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    
}
.column:nth-child(even) {
    background-color: rgb(248, 248, 248);
}

.tile {
    margin: 0 2vh;
    background-color: red;
    height: 7vh;
    border-radius: 15px 15px 0 0;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.2em;
}
.highlight {
    background-color: rgb(221, 87, 87) !important;
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        grid-template-rows: 10vh 90vh;
    }
  }